*.*.swp
.directory
powder.def
powder.pref
gmon.out
*.*.orig
*~
*.pyc
utils/*
*.log
src/python/stdlib/*
*.exe
*.dll
*.srv
*.bat
*.o
*.me
.DS_Store
*.lproj
*.xcodeproj
*.plist
*.vcxproj
*.user
*.filter
*.sln
*.suo
*.manifest
*.manifest.res
*.pdb
.kdev4
*.kdev4
callgrind.*
utility/convert-elements
utility/tpt-libs
build*
lib/*
